/*mybstyle.css*/

html, body, #container, .ember-application {
  height:      100%;
  width:       100%;
  margin:      0px;
  padding:     0px;
}
li { list-style-type: none; }
ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size:   18px;
  margin-left: -20px; 
}

#search {
  min-height:         28px;
  width:              100%;
}
#search input[type='button'] {
  height:      36px;
  width:       100%;
  border-color: #555;
  cursor: pointer;
  background-color: #000080;
  color: #ffffff;
  -webkit-border-radius: 5px;
  border: 1px solid #000;
  font-family: Cambria;
  font-size: 18px;
}
@media (min-width: 481px) { 
  .search__button { width: 195px; }
}
@media (max-width: 480px) { 
  .search__button { width: 99px; }
}  

#search input[type='text'] {
  width: 100%;
  line-height: 1.7em;
  border: 1px solid #000080;
  border-radius: 5px;
  margin: 1px;
  padding-left: 4px;
  font-family: Cambria;
  font-size: 18px;
}
#search span {
  display:          block;
  overflow:         hidden;
} 

#books { 
 background-color: white;
}  

@media (min-width: 481px) {
  #books { width: 145px; }
  li:after { content: attr(data-book); }
}

@media (max-width: 480px) { 
  #books { width: 59px; }
}


#chapters {
  width: 54px;
 background-color: #d3d3d3;
}


#verses {
 background-color: #f1f1f1; 
}

#books, #verses, #chapters {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 95%;
}

.fl { float: left; }
.ovf { overflow-y: scroll; overflow-x: hidden; }


@media (min-width: 481px) { 
  li[data-book='lemon']:before { 
  content: 'Philemon' !important;
  color: black !important; 
  }
}
@media (max-width: 480px) { 
  li[data-book='lemon']:before { 
  content: 'Phm'      !important; 
  color: black !important;
  }
}
li[data-book='lemon'] { color: white; }


@media (min-width: 481px) { 
  li[data-book='ges']:before { 
  content: 'Judges' !important; 
  color: black !important;
  }
}
@media (max-width: 480px) { 
  li[data-book='ges']:before { 
  content: 'Jdg'      !important; 
  color:   black      !important; 
  }
}
li[data-book='ges'] { color: white; }

.search__result {
  background-color: yellow;
}


.highlight-book:not([data-book='lemon']):not([data-book='ges']) {
    background-color: #0099FF;
    color: white;
}


li[data-book='lemon'].highlight-book:before,
li[data-book='ges'].highlight-book:before {
    background-color: #0099FF !important; 
    color: white !important;
}


.highlight-chapter {
    background-color: #0099FF;
    color: white;
}


a {
  text-decoration: none !important;
  color: inherit;
}


#search__actual {position: absolute;}
#search__actual .tt-menu {
    top: 0% !important;
}
#search__actual .typeahead {
    top: -40px !important;
    z-index: -20;
}

.twitter-typeahead {
    position: static !important;
    height: 1px !important;
}

.tt-menu.tt-open {
    background-color: white;
    width: 100%;
    left: 7px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.tt-dropdown-menu {
  height: 124px;
  overflow-y: auto;
}

.bbox {
height: 500px;
overflow: auto;
} 


/*Addictionalstyle*/
body {
  color: #000000;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
} 

.br {
  border-radius: 10px;
  border: 5px solid #F2CD5C;
  background-color: #ffffff;
}

.br:hover {
  border: 5px solid rgb(41, 40, 41,0.9);
  background-color: #f3f3f3;
}

h3 {
  color: rgb(255, 0, 0);
}

.row {
  background: #F2CD5C;
}

.b {
  background-color: #F2CD5C;
}

.bd {
  height: auto;
  overflow: hidden;
}

.hd {
  border-radius: 0px 0px 0px 0px;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .box11 {
    width: 100%;
    height: auto;
  }
}

.hr {
  height: auto;
  overflow: auto;
  box-shadow: 10px 15px 15px;
  border-radius: 0px; 
}

.hr:hover {
  background-color: #cccccc;
}

.hr1 {
  height: auto;
  overflow: auto;
  box-shadow: 10px 15px 15px; 
}

.hr1:hover {
  background-color: #f1f1f1;
}

.hr2 {
  height: auto;
  overflow: auto;
  box-shadow: 10px 15px 15px;
}

.hr2:hover {
  background-color: #f1f1f1;
}

.hr3 {
  height: auto;
  overflow: auto;
  box-shadow: 10px 15px 15px; 
  background-color: #cccccc;
}

.hr4 {
  height: auto;
  overflow: auto;
  box-shadow: 15px 15px 15px 15px;
  border-radius: 50px; 
  background-color: #f1f1f1;
}

.hrb {
  height: auto;
  overflow: auto;
  box-shadow: 10px 15px 15px; 
  border-radius: 2px; 
  background-color: #cccccc;
}

.hrb:hover {
  background-color: #f1f1f1;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 0px;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

h1 {
  font-family: "Sofia", sans-serif;
  text-shadow: 4px 4px 4px rgb(255, 0, 0);
  color: rgb(255, 255, 0);
}

h1::after {
  content: url();
}

h1::before {
  content: url();
}

.h1 {
  font-family: "Sofia", sans-serif;
  text-shadow: 4px 4px 4px rgb(255, 0, 0);
  color: rgb(255, 255, 0);
}

.h1::after {
  content: url();
}

.h1::before {
  content: url();
}

h3 {
  font-family: "Sofia", sans-serif;
  text-shadow: 4px 4px 4px rgb(255, 255, 0);
  color: rgb(255, 0, 0);
}

h3::after {
  content: url();
}

h3::before {
  content: url();
}

.h3 {
  font-family: "Sofia", sans-serif;
  text-shadow: 4px 4px 4px rgb(255, 255, 0);
  color: rgb(255, 0, 0);
}

.h3::after {
  content: url();
}

.h3::before {
  content: url();
}

h5 {
font-family: "Sofia", sans-serif;
}

h5::after {
  content: url();
}

h5::before {
  content: url();
}

.h5 {
font-family: "Sofia", sans-serif;
}

.h5::after {
  content: url();
}

.h5::before {
  content: url();
}

p {
  word-wrap: break-word;
}

p::first-letter {
  color: #000000;
  font-size: xx-large;
  font-family: algerian, courier;
}

::selection {
  color: #ff0000;
  background: #ffff00;
}

img {
  opacity: 1.0;
}

img:hover {
  opacity: 0.5;
}

.img2 {
  opacity: 0.5;
}

.img2:hover {
  opacity: 1.0;
}
/*
-----------------------------------------------------
*/

/*clockstyle*/
div.dig, div.hour, div.min, div.sec {
    position:absolute;
}
div.hour, div.min, div.sec {
    width:2px;
    height:2px;
    font-size:2px;
}
div.dig {
    width:30px;
    height:30px;
    font-family:arial,verdana,sans-serif;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    padding-top:10px
}
div.min {
    background:yellow;
}
div.hour {
    background:#ffffff;
}
div.sec {
    background:#FF0000;
}
body.darkpagetheme div.dig {color:#fff;}
body.darkpagetheme div.min {background:#04AA6D;}
body.darkpagetheme div.hour {background:#fff;}
body.darkpagetheme div.sec {background:coral;}


/*
-----------------------------------------------------
*/
/*nav/footerstyle*/
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.containers {
  display: inline-block;
  cursor: pointer;
}

.bar11, .bar12, .bar13 {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 12px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -5px) rotate(45deg);
}

@media screen and (min-width: 575px) {
 section {
    display:none; 
  }
}

@media screen and (min-width: 575px) {
 article {
    display:none; 
  }
}

@media screen and (max-width: 575px) {
 nav {
    display:none; 
  }
}

.odiegho {
  background-color: rgb(60, 60, 60);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .odiegho:hover {
  background-color: rgb(60, 60, 60); 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.container1 {
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 20px;
}

.ftr {
  color: #ffffff;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, rgb(41, 40, 41,0.9), rgb(41, 40, 41,0.9));
  border-radius: 0px;
}




 
